@charset "utf-8";
.history_wrap {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.history_wrap > h2 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 40px;
}
.photo {
  width: 300px;
  height: 500px;
  background-color: greenyellow;
  float: left;
}
.photo img {
  height: 100%;
  width: 100%;
}
.history_txt {
  float: left;
  padding: 0;
  margin-left: 100px;
  margin-bottom: 150px;
  font-size: 16px;
}
.history_txt h2 {
  margin-bottom: 20px;
}
.history_txt ul {
  margin-bottom: 10px;
}
.history_txt li {
  width: 750px;
  line-height: 28px;
}
.history_txt span {
  display: block;
  width: 70%;
  float: right;
}
#copy {
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}